# Data Types

In [1]:
#Integer

type(12)

int

In [2]:
type(12 + 10.25)

float

In [3]:
type(12 + 4j)

complex

In [6]:
#Boolean

type(True)

bool

In [7]:
type(False)

bool

In [8]:
#Strings

'Single Quote'

'Single Quote'

In [9]:
"Double Quote"

'Double Quote'

In [13]:
multiLine = """
I have started my data analyst journey
Consistency will get me to my goal
There will be highs and lows
But Jesus is with me
So I can do anything.

"""

In [14]:
print(multiLine)

I have started my data analyst journey
Consistency will get me to my goal
There will be highs and lows
But Jesus is with me
So I can do anything.

In [15]:
x = 'Hello World'

In [16]:
print(x[:5])

Hello

In [17]:
#List

[1,2,3]

[1, 2, 3]

In [18]:
['Toyota', 'Honda', 'KIA']

['Toyota', 'Honda', 'KIA']

In [19]:
['Toyota', 2, ['Corolla', 'Camry'], True]

['Toyota', 2, ['Corolla', 'Camry'], True]

In [21]:
carTypes = ['Toyota', 'Honda', 'KIA']

carTypes.append('Mercedes')

carTypes

['Toyota', 'Honda', 'KIA', 'Mercedes']

In [22]:
carTypes[1] = 'Nissan'

carTypes

['Toyota', 'Nissan', 'KIA', 'Mercedes']

In [23]:
nestList = ['Toyota', 2, ['Corolla', 'Camry'], True]

In [24]:
nestList[2][1]

'Camry'

In [25]:
#Tuple

tupleScoops = (1,2,3,2,1)

In [26]:
type(tupleScoops)

tuple

In [27]:
#Sets

dailyCarSales = {12,15,24,6}

In [28]:
type(dailyCarSales)

set

In [29]:
print(dailyCarSales)

{24, 12, 6, 15}

In [30]:
dailyTruckSales = {4,12,3,5}

In [32]:
print(dailyCarSales | dailyTruckSales)

{3, 4, 5, 6, 12, 15, 24}

In [33]:
print(dailyCarSales - dailyTruckSales)

{24, 6, 15}

In [34]:
print(dailyCarSales ^ dailyTruckSales)

{3, 4, 5, 6, 15, 24}

In [35]:
print(dailyCarSales & dailyTruckSales)

{12}

In [36]:
#Dictionaries
# Key/Value Pair

dictCar = {'name': 'Maj', 'car Type': 'Toyota corolla', 'best cars': ['Tesla', 'Toyota', 'KIA'] }

In [37]:
type(dictCar)

dict

In [38]:
print(dictCar)

{'name': 'Maj', 'car Type': 'Toyota corolla', 'best cars': ['Tesla', 'Toyota', 'KIA']}

In [39]:
dictCar.values()

dict_values(['Maj', 'Toyota corolla', ['Tesla', 'Toyota', 'KIA']])

In [40]:
dictCar.keys()

dict_keys(['name', 'car Type', 'best cars'])

In [41]:
dictCar.items()

dict_items([('name', 'Maj'), ('car Type', 'Toyota corolla'), ('best cars', ['Tesla', 'Toyota', 'KIA'])])

In [42]:
dictCar['name']

'Maj'

In [43]:
dictCar['name'] = 'Majiri Ok'

print(dictCar)

{'name': 'Majiri Ok', 'car Type': 'Toyota corolla', 'best cars': ['Tesla', 'Toyota', 'KIA']}

In [44]:
dictCar.update({'name': 'Majiri Ok', 'car Type': 'Toyota corolla', 'cars': ['Tesla', 'Toyota', 'Honda']})

print(dictCar)

{'name': 'Majiri Ok', 'car Type': 'Toyota corolla', 'best cars': ['Tesla', 'Toyota', 'KIA'], 'cars': ['Tesla', 'Toyota', 'Honda']}

In [45]:
del dictCar['cars']

print(dictCar)

{'name': 'Majiri Ok', 'car Type': 'Toyota corolla', 'best cars': ['Tesla', 'Toyota', 'KIA']}